<h1>Affichage d'un commentaire</h1>

<p>Note : <%= @comment.opinion %></p>
<p>Festival : <%= @comment.festival.name %></p>
<p>Description : <%= @comment.content %></p>

<p>
  <%= link_to 'Retour', admin_comments_path, class: 'btn btn-success' %>
</p>