<h1>Affichage d'un artiste</h1>

<p>Nom : <%= @artist.name %></p>
<p>Description : <%= @artist.description %></p>

<p>
  <%= link_to 'Editer', edit_admin_artist_path(@artist), class: 'btn btn-success' %>
  <%= link_to 'Retour', admin_artists_path, class: 'btn btn-warning' %>
</p>