<!-- Container (Contact Section) -->
<div id="contact" class="container">
  <h3 class="text-center">Contact</h3>
  <p class="text-center"><em>Manger, bouger... Buver !</em></p>

  <div class="row">
    <div class="col-md-4">
      <p><span class="glyphicon glyphicon-map-marker"></span>Paris, France</p>
      <p><span class="glyphicon glyphicon-phone"></span>CSM: +33 01 56 06 90 41</p>
      <p><span class="glyphicon glyphicon-envelope"></span>Courriel: admissions@esgi.fr</p>
    </div>
    <div class="col-md-8">
      <div class="row">
        <div class="col-sm-6 form-group">
          <input class="form-control" id="name" name="name" placeholder="Nom" type="text" required>
        </div>
        <div class="col-sm-6 form-group">
          <input class="form-control" id="email" name="email" placeholder="Courriel" type="email" required>
        </div>
      </div>
      <textarea class="form-control" id="comments" name="comments" placeholder="Commentaire" rows="5"></textarea>
      <br>
      <div class="row">
        <div class="col-md-12 form-group">
          <button class="btn pull-right" type="submit">Envoyer</button>
        </div>
      </div>
    </div>
  </div>
  <br>
  <h3 class="text-center">From The Blog</h3>
  <ul class="nav nav-tabs">
    <li class="active"><a data-toggle="tab" href="#home">Alexandre</a></li>
    <li><a data-toggle="tab" href="#menu1">Antoine</a></li>
    <li><a data-toggle="tab" href="#menu2">Hugo</a></li>
    <li><a data-toggle="tab" href="#menu3">Jolan</a></li>
  </ul>

  <div class="tab-content">
    <div id="home" class="tab-pane fade in active">
      <h2>Alexandre, Dev</h2>
      <p><a href="https://www.linkedin.com/in/alexandre-morin-8239a191?trk=nav_responsive_tab_Profil_pic" target="_blank">Profil linkedin</a> </p>
    </div>
    <div id="menu1" class="tab-pane fade">
      <h2>Antoine, Dev</h2>
      <p><a href="https://www.linkedin.com/in/antoine-cusset-90484aa0?trk=miniProfil-primary-view-button" target="_blank">Profil linkedin</a> </p>
    </div>
    <div id="menu2" class="tab-pane fade">
      <h2>Hugo, Dev</h2>
      <p><a href="https://www.linkedin.com/in/hugopiso?authType=NAME_SEARCH&authToken=Sc-n&locale=fr_FR&trk=tyah&trkInfo=clickedVertical%3Amynetwork%2CclickedEntityId%3A309595082%2CauthType%3ANAME_SEARCH%2Cidx%3A1-1-1%2CtarId%3A1462716380229%2Ctas%3Ahugo" target="_blank">Profil linkedin</a> </p>
    </div>
    <div id="menu3" class="tab-pane fade">
      <h2>Jolan, Dev</h2>
      <p><a href="https://www.linkedin.com/in/jolan-levy-984ba099?authType=name&authToken=ht9Z&trk=prof-sb-browse_map-name" target="_blank">Profil linkedin</a> </p>
    </div>
  </div>
</div>